<table class="tg">
<thead>
<tr>
<td class="tg-0lax">
<table class="tg">
<tbody>
<tr>
<td class="tg-0lax">
<p class="text-title">Nama</p>
<p class="text-summary"><i>Name</i></p>
</td>
<td class="tg-0lax">John Doe</td>
</tr>
<tr>
<td class="tg-0lax">
<p class="text-title">NIM</p>
<p class="text-summary"><i>Student Number</i></p>
</td>
<td class="tg-0lax">08289638919</td>
</tr>
<tr>
<td class="tg-0lax">
<p class="text-title">Tempat, Tgl. Lahir</p>
<p class="text-summary"><i>Place/date of Birth</i></p>
</td>
<td class="tg-0lax">Brixton, 5 March 2077</td>
</tr>
<tr>
<td class="tg-0lax">
<p class="text-title">Tahun Masuk</p>
<p class="text-summary"><i>Entry Year</i></p>
</td>
<td class="tg-0lax">2080</td>
</tr>
<tr>
<td class="tg-0lax">
<p class="text-title">Fakultas</p>
<p class="text-summary"><i>Faculty</i></p>
</td>
<td class="tg-0lax">Vokasi</td>
</tr>
<tr>
<td class="tg-0lax">
<p class="text-title">Program Studi</p>
<p class="text-summary"><i>Study Program</i></p>
</td>
<td class="tg-0lax">D4 Teknik Informatika</td>
</tr>
</tbody>
</table>
</td>
<td class="tg-0lax">
<div class="place-foto">

</div>
</td>
</tr>
</thead>
</table>